.update-container {
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.update-title {
    color: white;
}

.update-stream {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.text-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}