body {
  background: #34394F url('./assets/images/naboobackground.png') no-repeat fixed center center;
  background-size: cover;
}

#root>.container {
  padding: 50px;
  background: transparent;
}

.display-1 {
  color: white;
}

.form-control:focus {
  border-color: #34394F;
  box-shadow: 0 0 0 0.2rem #EEAE72;
}

.btn.btn-primary {
  background-color: #34394F;
  border-color: #192335;
  margin-top: 5px;
}

.btn:disabled {
  cursor: not-allowed;
}